* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Adobe Ming Std", "Roboto";
   font-size: 1rem;
}

html,
body,
#root {
   height: 100%;
}

button {
   padding: 0 1.3em;
   margin: 0.5em 0.5em 0.5em 0;
   border-radius: 5px;
   border: none;
   background: #c3ccca;
   color: white;
   box-shadow: 0 0 0.6em -0.2em rgba(0, 0, 0, 0.733);
   transition: box-shadow 50ms, transform 50ms;
}

button:hover {
   box-shadow: 0 0 0.5em -0.2em rgba(0, 0, 0, 0.733);
}

button:active {
   box-shadow: 0 0 0.6em -0.2em rgba(0, 0, 0, 0.733);
   transform: scale(0.99);
}

button:focus {
   outline: none;
}

.deco-center {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input {
   font-family: inherit;
   font-size: inherit;
   padding-left: 0.3em;
   line-height: 1.7em;
}

.flex {
   display: flex;
   align-items: center;
}